#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

a, a:visited, a:active {
    text-decoration: none;
}

.minhchung_box {
    background-color: #85B561;
    height: auto;
    width: 450px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
    top: 10%;
    left: 55%;
    margin-left: -300px;
}

/*-------------------------------------------------------*/

loader[_ngcontent-c16] {
    position: absolute;
    top: 30%;
    left: 45%;
}

.picture-group[_ngcontent-c16] {
    border: 1px dashed #b8b8b8;
    width: 202px;
    height: 202px;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

    .picture-group[_ngcontent-c16] .picture-wrapper[_ngcontent-c16] {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .picture-group[_ngcontent-c16] img[_ngcontent-c16] {
        max-width: 100%;
        max-height: 100%;
    }

    .picture-group[_ngcontent-c16] i[_ngcontent-c16] {
        display: block;
        position: absolute;
        font-size: 32px;
        cursor: pointer;
        top: -11px;
        right: -11px;
        height: 26px;
        border-radius: 50%;
    }

        .picture-group[_ngcontent-c16] i[_ngcontent-c16]:before {
            line-height: 26px;
        }

    .picture-group[_ngcontent-c16] a.change-picture[_ngcontent-c16] {
        display: block;
        width: 202px;
        background: rgba(0, 0, 0, 0.7);
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        text-decoration: none;
        position: absolute;
        bottom: -1px;
        left: -1px;
        line-height: 32px;
        text-align: center;
    }

.ng-gallery[_ngcontent-c16] {
    width: 100%;
    display: inline-block;
}

img.ng-thumb[_ngcontent-c16] {
    height: 50px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 2px 2px 0 0;
}

.ng-overlay[_ngcontent-c16] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.ng-gallery-content[_ngcontent-c16] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
}

    .ng-gallery-content[_ngcontent-c16] > a.close-popup[_ngcontent-c16] {
        font-size: 42px;
        float: right;
        color: #fff;
        text-decoration: none;
        margin: 0 30px 0 0;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 0;
    }

    .ng-gallery-content[_ngcontent-c16] > a.download-image[_ngcontent-c16] {
        font-size: 42px;
        float: right;
        color: #fff;
        text-decoration: none;
        margin: 0 30px 0 0;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 63px;
    }

    .ng-gallery-content[_ngcontent-c16] > a.nav-left[_ngcontent-c16], .ng-gallery-content[_ngcontent-c16] > a.nav-right[_ngcontent-c16] {
        color: #fff;
        text-decoration: none;
        font-size: 60px;
        cursor: pointer;
        outline: none;
    }

    .ng-gallery-content[_ngcontent-c16] > a.nav-left[_ngcontent-c16] {
        position: fixed;
        left: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ng-gallery-content[_ngcontent-c16] > a.nav-right[_ngcontent-c16] {
        position: fixed;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ng-gallery-content[_ngcontent-c16] > img[_ngcontent-c16] {
        height: auto;
        max-height: calc(100% - 150px);
        max-width: calc(100% - 100px);
        position: relative;
        display: block;
        margin: 0 auto 0 auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
    }

    .ng-gallery-content[_ngcontent-c16] > img.effect[_ngcontent-c16] {
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.ng-gallery-content[_ngcontent-c16] > span.info-text[_ngcontent-c16] {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
}

.ng-gallery-content[_ngcontent-c16] > .ng-thumbnails-wrapper[_ngcontent-c16] {
    width: 400px;
    height: 70px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

    .ng-gallery-content[_ngcontent-c16] > .ng-thumbnails-wrapper[_ngcontent-c16] > .ng-thumbnails[_ngcontent-c16] {
        width: 4000px;
        height: 70px;
    }

        .ng-gallery-content[_ngcontent-c16] > .ng-thumbnails-wrapper[_ngcontent-c16] > .ng-thumbnails[_ngcontent-c16] > div[_ngcontent-c16] > img[_ngcontent-c16] {
            width: auto;
            height: 70px;
            float: left;
            margin-right: 10px;
            cursor: pointer;
            opacity: 0.6;
        }

            .ng-gallery-content[_ngcontent-c16] > .ng-thumbnails-wrapper[_ngcontent-c16] > .ng-thumbnails[_ngcontent-c16] > div[_ngcontent-c16] > img[_ngcontent-c16]:hover, .ng-gallery-content[_ngcontent-c16] > .ng-thumbnails-wrapper[_ngcontent-c16] > .ng-thumbnails[_ngcontent-c16] > div[_ngcontent-c16] > img.active[_ngcontent-c16] {
                -webkit-transition: opacity 0.25s ease;
                transition: opacity 0.25s ease;
                opacity: 1;
            }



uiload[_ngcontent-c16] {
    display: inline-block;
    position: relative;
}

    uiload[_ngcontent-c16] > div[_ngcontent-c16] {
        position: relative;
    }

@-webkit-keyframes uil-ring-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes uil-ring-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.uil-ring-css[_ngcontent-c16] {
    background: none;
    position: relative;
    top: 0;
    margin: 180px auto 0 auto;
    width: 100px;
    height: 100px;
}

    .uil-ring-css[_ngcontent-c16] > div[_ngcontent-c16] {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        top: 20px;
        left: 20px;
        border-radius: 40px;
        -webkit-box-shadow: 0 6px 0 0 #fff;
        box-shadow: 0 6px 0 0 #fff;
        -webkit-animation: uil-ring-anim 1s linear infinite;
        animation: uil-ring-anim 1s linear infinite;
    }

